.wrapper {
  padding: 3.125rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .img {
    width: 6rem;
    height: 6rem;
    background: linear-gradient(90deg, rgba(246,243,237,1) 0%, rgba(232,231,224,1) 57%, rgba(195,195,192,1) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
  }
  img {
    margin: 0 auto;
    max-width: 80%;
  };
  .item {
    text-align: center;
    cursor: pointer;
    :hover {
      color: rgb(251 191 36);
      transition: 0.3s;
    }
  }
}
// @media screen and (max-width: 768px) {
//   .wrapper {
//     flex-direction: column;
//   }
  
// }
