.wrapper {
  background-attachment: local, scroll;
  background: url("https://admin.netlawman.com/uploads/article/original/types-uk-company.jpg")
    no-repeat center center/cover;
  opacity: 0.9;
  width: 100%;
  padding: 5.625rem 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
}
