.wrapper {
  padding: 5.625rem 0;
  font-family: "Roboto", sans-serif;
  .content {
    h1{
        color: #4D4B4B;
        text-align: center;
        padding-bottom: 24px;
    }
    .item1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15.625rem;
      padding: 1.875rem;
      background: rgb(128, 128, 128);
      h1 {
        font-size: 3.125rem;
        color: white;
      }
    }
    .item2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15.625rem;
      padding: 1.875rem;
      background: rgb(205, 133, 63);
      h1 {
        font-size: 3.125rem;
        color: white;
      }
    }
  }
}
