.wrapper{
    background-color: rgb(214 211 209);
    padding: 5.625rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content{
    font-family: "Roboto", sans-serif;

    margin: 0 auto;
}