
.Card{
    // background-color: rgb(195, 195, 195);
    // background: linear-gradient(90deg, rgba(252,239,214,1) 0%, rgba(252,234,166,1) 57%, rgba(251,228,136,1) 100%);
    background: linear-gradient(90deg, rgba(246,243,237,1) 0%, rgba(232,231,224,1) 57%, rgba(195,195,192,1) 100%);
    :hover{
        background: linear-gradient(90deg, rgba(195,195,192,1) 100% rgba(232,231,224,1) 57%,  rgba(246,243,237,1) 0%,  );
        transition: 0.9s;
    }
    h2{
        font-size: 1rem;
        font-weight: 700;
        margin-top: 1.875rem
        
    }
    p{
        margin-top: 1.25rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    img{
        width: 5.625rem;
        height: 3.75rem; 
    }
}
.item{
    padding: 2.1875rem 2.1875rem;
}
