
.Card{
    background-color: rgb(254, 242, 196);
    h2{
        font-size: 1rem;
        font-weight: 700;
        margin-top: 1.875rem
    }
    p{
        margin-top: 1.25rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    img{
        width: 5.625rem;
        height: 3.75rem; 
    }
}
.item{
    padding: 2.1875rem 2.1875rem;
}
