
.Card{
    // background-color: rgb(195, 195, 195);
    // background: linear-gradient(90deg, rgba(252,239,214,1) 0%, rgba(252,234,166,1) 57%, rgba(251,228,136,1) 100%);
    background: #fff8e1;
    :hover{
        background: #fff8e1; 
        transition: 0.9s;
     
    }
    h2{
        font-size: 1rem;
        font-weight: 700;
        margin-top: 1.875rem
        
    }
    p{
        margin-top: 1.25rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    img{
        width: 5.625rem;
        height: 3.75rem; 
    }
}
.item{
    padding: 1.5rem 1.5rem;
    transition: all 0.3s;
  
}
.item:hover{
    transform: scale(1.15);
}
@media screen and (max-width: 768px) {
    .media{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}
