.wrapper {
    background: url("https://images.axios.com/4GhOHiu52e_mUQ_HzzjQhLSL6pk=/0x470:4500x3001/1920x1080/2022/06/27/1656338694626.jpg") no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
