.wrapper {
  top: 0;
  z-index: 1;
  position: sticky;
}

.subNav {
  padding: 20px;
  background-color: #2e2f35;
  display: flex;
  gap: 40px;

}

.supNav {
  padding: 10px;
  background-color: #2e2f35
  ;
}

.Card{
  background-color: #2e2f35;
  top: 0;
  z-index: 1;
  position: sticky;
}

@media screen and (max-width: 768px) {
  .Card{
    display: none;
  }
}
