.wrapper{
    background-color: rgba( 166, 147, 116);
    padding: 70px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    inset-block: 10px;
    p{
        color: white;
        margin-top: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
}