.wrapper{
    padding: 20px 0;
    .content{
        width: 100%;
        background: linear-gradient(90deg, rgba(246,243,237,1) 0%, rgba(232,231,224,1) 57%, rgba(195,195,192,1) 100%);
        padding: 20px 20px;
    }
}